body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* =========================
   HEADER
========================= */

.header {
    min-height: 50px;
    background-color: rgb(246, 244, 244);
}


/* LOGO */

.logo {
    color: rgb(114, 72, 72);
    font-size: 15px;
    font-weight: 600;
}

.logo-icon {
    width: 25px;
    height: 25px;

    border-radius: 50%;

    background-color: #45f0c0;

    color: #080b10;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* MENU */

.menulink {
    list-style: none;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 450;
    cursor: pointer;
    margin-bottom: px;
}

.menulink a {
    text-decoration: none;
    color: black;
}

.menulink a:hover {
    color: #3a4d17;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.menulink a.active {
    color: #3a4d17;
    text-decoration: underline;
    text-underline-offset: 8px;
}


/* LOGOUT BUTTON */

.signout {
    list-style: none;
    margin-right: 25px;
    background-color: #d4d5d7;
    font-size: 11px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.signout a {
    text-decoration: none;
    color: black;
}

.signout:hover {
    transform: translateY(-2px);
}


/* =========================
   MAIN
========================= */


/* SIGNING KIOSK PAGE */


/* SIGNING CONTAINER */

.signing-container {
    position: relative;

    /* Responsive width */
    width: 100%;
    max-width: 35rem;

    margin: 0 auto;

    box-shadow: 0 3px 4px rgb(245, 243, 243);

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    overflow: hidden;
}


/* =========================
   UPPER DESIGN
========================= */

.upper {
    width: 100%;
    min-height: 6rem;

    background-color: rgb(12, 0, 0);

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    padding: 13px 15px;

    color: rgb(240, 238, 233);
}


.timeupdate {
    font-size: 25px;

    color: rgb(240, 238, 233);

    font-family: Arial, Helvetica, sans-serif;
}


.smallsize {
    font-size: 10px;
    color: rgb(240, 238, 233);
}

.currentlog {
    padding-left: 10px;
}


.logvalue {
    font-weight: 700;
}


.logval {
    color: white !important;
}


/* =========================
   SIGNING CARD
========================= */

.signingcard {
    width: 100%;
    height: 100%;

    background-color: rgb(250, 248, 248);
}


.textcolor {
    color: rgb(50, 48, 48);
}


/* BREAK */

.breakicon {
    margin-left: 0;
}


.breaktime {
    width: auto;

    border: none;

    font-size: 8px;
}


/* INPUT */

.nameform::placeholder {
    color: #4b0082;
    font-size: 10px;
    font-style: italic;
}


/* =========================
   BUTTONS
========================= */

.buttns {
    padding: 20px 0 20px 0;
}


.signBtn {
    width: 4rem;
    height: 1.5rem;

    color: white;

    background-color: red;

    border: none;

    box-shadow: 1px 5px 15px gray;

    border-radius: 8px;

    transition: all 0.3s ease;

    font-size: 10px;
}


.signBtn:hover {
    transform: translateY(-2px);
}


.Btn {
    background-color: rgb(104, 139, 104);
}


/* MESSAGE */

.msgicon {
    font-size: 10px;
}

/* display1*/

.smallersize {
    font-size: 8px;
}

.msg {
  
}








/* =========================
   FOOTER
========================= */

.copyright {
    text-align: center;
}